@model List<Absence.ViewModels.AbsenceDetailsViewModel>

<h2>Vos absences</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Séance</th>
                <th>Enseignant</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model)
            {
                <tr>
                    <td>@detail.Date.ToShortDateString()</td>
                    <td>@detail.SeanceName</td>
                    <td>@detail.TeacherName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
